form {
  font-size: 25px;
  padding: 40px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid teal;
  border-radius: 10px;
  box-shadow: 12px 9px 7px 0px rgba(10, 86, 37, 0.35);
}
